.light.side-bar {
  /* flex flex-col col-span-1 justify-start m-3 items-start text-myGray shadow-right-lg pr-3 */
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  flex: 1 1 0%; /* col-span-1 (assuming it's used in a flex container for layout) */
  justify-content: flex-start; /* justify-start */
  margin: 0.75rem; /* m-3 */
  align-items: flex-start; /* items-start */
  box-shadow: 10px 0 15px -3px var(--emoji-shadow),
    4px 0 6px -2px rgba(0, 0, 0, 0.05); /* shadow-right-lg */
  padding-right: 0.75rem; /* pr-3 */
  max-width: 20vw;
}

.sidebar-container.dark {
  width: 20vw;
  background-color: var(--background-color);
  padding-right: 1rem;
  color: #ccc;
}
.sidebar-container.light {
  width: 20vw;
  background-color: var(--background-color);
  padding-right: 1rem;
  color: #333;
}
.sideHeader {
  padding-left: 0.75rem; /* pr-3 */
  padding-top: 0.75rem; /* pr-3 */
  width: 100%; /* w-full */
  height: 2.5rem; /* h-10 (2.5rem is equivalent to 10 * 0.25rem) */
  display: flex; /* flex */
  justify-content: space-between; /* justify-between */
  width: 98%;
  margin-bottom: 1rem;
}

.icons {
  display: flex; /* flex */
  flex-direction: row; /* flex-row */
  column-gap: 0.5rem; /* gap-x-2 (based on Tailwind's spacing scale where 2 is 0.5rem) */
  justify-content: space-between; /* justify-between */
}

.history {
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  /*font-size: 1rem; /* text-lg (assuming 1.125rem for text-lg size) */
  padding-top: 0.5rem; /* pt-2 (based on Tailwind's spacing scale where 2 is 0.5rem) */
  padding-left: 0.75rem; /* pl-3 (based on Tailwind's spacing scale where 3 is 0.75rem) */
  margin: 0.75rem; /* m-3 (based on Tailwind's spacing scale where 3 is 0.75rem) */
  overflow-y: scroll; /* overflow-y-scroll */
  max-height: 85vh;
  scrollbar-width: none; /* hide-scrollbar */
  -ms-overflow-style: none; /* hide-scrollbar (for IE and Edge) */
  width: 100%; /* w-full */
}

.history::-webkit-scrollbar {
  display: none; /* hide-scrollbar (for Chrome, Safari, and Opera) */
}

.record {
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  gap: 0.75rem; /* gap-y-3 (based on Tailwind's spacing scale where 3 is 0.75rem) */
  padding-bottom: 1.25rem; /* pb-5 (based on Tailwind's spacing scale where 5 is 1.25rem) */
}

.group {
  display: flex; /* flex */
  color: var(var(--user-message-chat-color));
  justify-content: space-between; /* justify-between */
  padding-right: 1.25rem; /* pr-5 (based on Tailwind's spacing scale where 5 is 1.25rem) */
  /* margin-right: 1.5rem; */
}

.group-name {
  /* border-bottom: 1px solid #ddd; */
  padding-bottom: 0.25rem;
  width: 100%;
  /*font-size: 1rem; /* Assuming 1rem for text-md (medium text size in Tailwind) */
  /* You can adjust the font-size value based on your specific design requirements */
}

.light .group-name {
  border-bottom: 1px solid var(--user-message-chat-color);
}

.dark .group-name {
  border-bottom: 1px solid var(--user-message-chat-color);
}

.chat-title {
  display: flex; /* flex */
  flex-direction: row; /* flex-row */
  justify-content: flex-start; /* justify-start */
  gap: 0.75rem; /* gap-y-3 (based on Tailwind's spacing scale where 3 is 0.75rem) */
  align-items: center; /* items-center */
}

.dark {
  --primary-text-color: #ffffff;
  --user-message-chat-color: #357a38;
  --primary-emoji-color: #ffffff;
  --primary-emoji-color: #000;
  --emoji-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
  --background-color: rgb(22 121 35 / 19%);  
  /* Lighter shadow for dark mode */
}

.light {
  --background-color: #f0f0f0;
  --primary-text-color: #aaa;
  --user-message-chat-color: #6abf4b;
  --primary-emoji-color: #000000;
  --primary-background-color: #fff;
  --emoji-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  /* Darker shadow for light mode */
}
