.App {
  display: flex;
  height: 100vh;
  font-family: monospace;
  background-color: var(--body-background);
  transition: ease 0.3s;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-color: transparent;
}

input:focus {
  outline: none;
  border: none;

}