@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  /* Light gray background */
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  /* Slightly darker gray */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
  /* Darker gray on hover */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark {
  --primary-text-color: #ffffff;
  --primary-emoji-color: #ffffff;
  --emoji-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
  /* Lighter shadow for dark mode */
  --main-content-background: #212121;

  --bot-background-chat-color: rgb(121, 121, 121);
  --user-background-chat-color: #357a38;
  --user-text-chat-color: white;
  --input-text-color: white;
  --bot-text-chat-color: white;
  --background-color: rgba(255, 255, 255, 0.2);
  --search-background: #21212176;
  --group-devider-border: #aaa;
  --body-background: #212121;
  --voice-recorder-color: white;
}

.light {
  --background-color: #e0e0e0;
  --primary-text-color: #000000;
  /* --primary-text-color: #ffffff; */
  --primary-emoji-color: #555454;
  --emoji-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  /* Darker shadow for light mode */
  --main-content-background: white;

  --bot-background-chat-color: white;
  --user-background-chat-color: #6abf4b;
  --user-text-chat-color: white;
  --input-text-color: black;
  --bot-text-chat-color: black;
  --search-background: white;
  --group-devider-border: #888;
  --body-background: #fff;
  --voice-recorder-color: black;
}